<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    
    <title>Nu</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <div class="wrapper">
      <header>
        <h1>Nu</h1>
        <p>Small lazy stream Javascript Library</p>
        
        <ul>
          <li><a href="https://github.com/mattbierner/nu/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/mattbierner/nu/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/mattbierner/nu">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      
      <section>{{content}}</section>
      
      <footer>
        <p>Project created and maintained by <a href="http://mattbierner.com">Matt Bierner</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
  </body>
  
</html>